



.create-workout {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
}
.create-workout ul {
    margin: 0;
}
.create-workout li {
    font-size: 20px;
}

.create-workout input {
    height: 30px;
}


