.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: solid 2px black;
    width: 100%;
}
.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.hamburger {
    display: none;
    cursor: pointer;
}


@media (max-width: 750px) {
    .hamburger {
        display: flex;
    }
    .navbar-items {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 70%;

        background-color: white;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 1000;
        transition: left 0.3s ease-in-out;

    }

    .navbar-items.show {
        display: flex; /* Show when hamburgerClicked is true */
    }
    
}

