
ul {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 0;
}
li {
    list-style: none;
}

.submitted-regimen {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 20px;
}
.submitted-regimen-title {
    font-size: 30px;
    margin: 0;
    border-bottom: solid 2px black;
}
.regimen-entries {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* border: solid 2px blue; */
}
.regimen-entrie-title {
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
}
.regimen-entrie-title-ul {
    display: flex;
    row-gap: 10px;
    margin: 0;
}
.regimen-entrie-title-ul li {
    font-size: 20px;
}
