.view-workouts {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 40px 20px;
}
.view-workouts h2 {
  font-size: 40px;
  text-align: center;
}
.workout-set {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  /* margin-bottom: 30px; */
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 5px;
}
.workout-set h3 {
  font-size: 30px;
}
.workout {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 15px;
  border:  solid 2px blue;
  cursor: pointer;
}
.todays-workout {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border:  solid 2px green;
}
.workout h4 {
  font-size: 20px;
}
.workout-ul {
  border:  solid 2px red;
  list-style-type: none;
} 
.exercise-name {
  font-weight: 600;
  text-transform: capitalize;
}

